html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nuniyo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-rows: minmax(40vh, 80vh);
}
.header {
    grid-auto-rows: auto;
    background-image: linear-gradient(rgba(16, 29, 44, 0.4), rgba(16, 29, 44, 0.9)), url('../img/car-backdrop.jpg');
    background-size: cover;
    background-position: center;
    padding: 0.8rem;
    padding-top: 4rem;
    display: grid;
    justify-content: center;
    grid-row-gap: 1rem;   
    grid-template-rows: 3fr 2fr 3fr 1fr 1fr 1fr;
    grid-template-columns: 80%;
}
.header-title {
    color: rgb(245, 245, 245);
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}
.header-subTitle {
    color: rgb(241, 244, 255);
    font-size: 2rem;
    font-weight: 600;
}
.header-button {
    padding: 12px;
    background-color: rgb(59, 35, 194);
    color: rgb(228, 228, 228);
    align-self: start;
    justify-self: start;
    border-width: 0;
    font-size:1.8rem;
    transition: 0.4s;
    text-transform: uppercase;
}
.header-button:hover {
    background-color: rgb(10, 10, 173);
    transition: 0.4s;
}
.header-seenon {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    font-size: 2rem;
    color: rgb(194, 194, 194);
    text-align: center;
    align-items: center;
}
.header-seenon::after,
.header-seenon::before{
    content: "";
    height: 2px;
    background-color: rgb(194, 194, 194);
    display: block;
}
.header-seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
}
.header-seenon-logos > img {
    max-height: 2.5rem;
    max-width: 100%;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    padding: 4rem 0 4rem 0;
    justify-content: center;
}
.feature-box {
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 80%;
}
.feature-button {
    font-weight: 600;
    color: rgb(20, 20, 20);
    transition: 0.1s;
    cursor: pointer;
}
.feature-button:hover {
    color: rgb(10, 10, 173);
    transition: 0.1s;
}
.feature-img {
    cursor: pointer;
}